@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Tomorrow:wght@300;400;600;700&display=swap');

.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.name {
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    z-index: 2;
    font-family: 'Aldrich';
    background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: gradient-text 3s infinite alternate ease-in-out;
}
